[ req ]
default_bits       = 256
prompt             = no
default_md         = sha256
req_extensions     = req_ext
distinguished_name = dn

[ dn ]
CN = resilient-wombat.northeurope.cloudapp.azure.com

[ req_ext ]
subjectAltName = @alt_names

[ alt_names ]
DNS.1 = resilient-wombat.northeurope.cloudapp.azure.com
